<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yuhan.mapper.YuhanAdminMapper">
	<select id="adminSelectSubject" resultType="kr.yuhan.domain.YuhanSubjectVO">
		SELECT YUHAN_SUBJECT_NUMBER, YUHAN_SUBJECT_NAME, YUHAN_SUBJECT_HAK, YUHAN_SUBJECT_PRO, proName
		FROM yuhan_subject_table, yuhan_professor
		WHERE yuhan_subject_table.YUHAN_SUBJECT_PRO = yuhan_professor.proNo
		AND YUHAN_SUBJECT_APPROVAL = 'N'
	</select>
	
	<update id="updateSubjectY">
		UPDATE yuhan_subject_table
		SET YUHAN_SUBJECT_APPROVAL = 'Y'
		WHERE YUHAN_SUBJECT_NUMBER = #{YUHAN_SUBJECT_NUMBER}
	</update>
	
</mapper>