<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yuhan.mapper.YuhanMessageMapper">
	<select id="findUser" resultType="kr.yuhan.domain.YuhanMemberVO">
		<!-- SELECT memberHak, memberName, memberGrade, memberClass
		FROM yuhanmember
        ORDER BY memberGrade DESC, memberClass ASC -->
        SELECT memberHak AS memberHak, memberName AS memberName, memberGrade AS memberGrade, memberClass AS memberClass
		FROM yuhanmember
		UNION ALL
		SELECT proNo AS memberHak, proName AS memberName, '4' AS memberGrade, '' AS memberClass FROM yuhan_professor
		ORDER BY memberGrade DESC, memberClass ASC, memberHak ASC
	</select>
	
	<select id="selectUser" resultType="kr.yuhan.domain.YuhanMemberVO">
		SELECT memberID, memberHak, memberName, memberGrade, memberClass
		FROM yuhanmember
        WHERE memberid = #{memberID}
	</select>
	
	<select id="selectHak" resultType="String">
		SELECT memberHak
		FROM yuhanmember
		WHERE memberid = #{sessionID}
	</select>
	
	<insert id="sendMessage">
		INSERT INTO yuhan_message_table(YUHAN_MESSAGE_FROM_MEMBER_NUMBER, YUHAN_MESSAGE_TO_MEMBER_NUMBER, YUHAN_MESSAGE_SUBJECT, YUHAN_MESSAGE_CONTENT, YUHAN_MESSAGE_SEND_DATE, YUHAN_MESSAGE_READ_STATUS)
		VALUES (#{YUHAN_MESSAGE_FROM_MEMBER_NUMBER}, #{YUHAN_MESSAGE_TO_MEMBER_NUMBER}, #{YUHAN_MESSAGE_SUBJECT}, #{YUHAN_MESSAGE_CONTENT}, NOW(), 'N')
	</insert>
	
	<select id="selectMessage" resultType="kr.yuhan.domain.YuhanMessageVO">
		<!-- SELECT YUHAN_MESSAGE_NUMBER, YUHAN_MESSAGE_FROM_MEMBER_NUMBER, YUHAN_MESSAGE_TO_MEMBER_NUMBER, YUHAN_MESSAGE_SUBJECT, YUHAN_MESSAGE_CONTENT, YUHAN_MESSAGE_SEND_DATE, YUHAN_MESSAGE_READ_STATUS, YUHAN_MESSAGE_READ_DATE, YUHAN_MESSAGE_STATUS
		FROM YUHAN_MESSAGE_TABLE
		WHERE YUHAN_MESSAGE_TO_MEMBER_NUMBER = #{memberHak}
		ORDER BY YUHAN_MESSAGE_NUMBER DESC; -->
		
		<![CDATA[
  		SELECT *
  		FROM yuhan_message_table
  		WHERE YUHAN_MESSAGE_NUMBER > 0
  		AND YUHAN_MESSAGE_STATUS = 'I'
  		AND YUHAN_MESSAGE_TO_MEMBER_NUMBER = #{memberID}
  		ORDER BY YUHAN_MESSAGE_NUMBER DESC, YUHAN_MESSAGE_SEND_DATE DESC
  		LIMIT #{pageStart},#{perPageNum}
  		]]>
	</select>
	
	<select id="selectSaveMessage" resultType="kr.yuhan.domain.YuhanMessageVO">
		<![CDATA[
  		SELECT *
  		FROM yuhan_message_table
  		WHERE YUHAN_MESSAGE_NUMBER > 0
  		AND YUHAN_MESSAGE_STATUS = 'S'
  		AND YUHAN_MESSAGE_TO_MEMBER_NUMBER = #{memberID}
  		ORDER BY YUHAN_MESSAGE_NUMBER DESC, YUHAN_MESSAGE_SEND_DATE DESC
  		LIMIT #{pageStart},#{perPageNum}
  		]]>
	</select>
	
	<select id="totalSaveMessageCount" resultType = "int">
  		SELECT COUNT(*)
		FROM yuhan_message_table
		WHERE YUHAN_MESSAGE_TO_MEMBER_NUMBER = #{memberID}
		AND YUHAN_MESSAGE_STATUS = 'S'
  	</select>
	
	<select id="selectMessageOne" resultType="kr.yuhan.domain.YuhanMessageVO">
		SELECT *
		FROM yuhan_message_table
		WHERE YUHAN_MESSAGE_NUMBER = #{YUHAN_MESSAGE_NUMBER}
	</select>
	
	<select id="selectSendMessage" resultType="kr.yuhan.domain.YuhanMessageVO">
		<![CDATA[
  		SELECT *
  		FROM yuhan_message_table
  		WHERE YUHAN_MESSAGE_NUMBER > 0
  		AND YUHAN_MESSAGE_FROM_MEMBER_NUMBER = #{YUHAN_MESSAGE_FROM_MEMBER_NUMBER}
  		ORDER BY YUHAN_MESSAGE_NUMBER DESC, YUHAN_MESSAGE_SEND_DATE DESC
  		LIMIT #{pageStart},#{perPageNum}
  		]]>
	</select>
	
	<update id="updateReadStatus">
		UPDATE yuhan_message_table
		SET YUHAN_MESSAGE_READ_STATUS = 'Y', YUHAN_MESSAGE_READ_DATE = NOW()
		WHERE YUHAN_MESSAGE_NUMBER = #{YUHAN_MESSAGE_NUMBER}
	</update>
	
	<select id="selectNoReadMessageCount" resultType="String">
		SELECT COUNT(*) 
		FROM yuhan_message_table
		WHERE YUHAN_MESSAGE_TO_MEMBER_NUMBER = (SELECT memberHak
											    FROM yuhanmember
											    WHERE memberID = #{memberID})
		AND YUHAN_MESSAGE_READ_STATUS = 'N'
	</select>
	
	<select id="listPage" resultType="kr.yuhan.domain.YuhanMessageVO">
	<![CDATA[
		SELECT *
		FROM yuhan_message_table
		WHERE YUHAN_MESSAGE_NUMBER > 0
		ORDER BY YUHAN_MESSAGE_NUMBER DESC, YUHAN_MESSAGE_SEND_DATE DESC
		LIMIT #{page}, 10
	]]>
	</select>
	
	<select id ="listCriteria" resultType = "kr.yuhan.domain.YuhanMessageVO">
  	<![CDATA[
  		SELECT *
  		FROM yuhan_message_table
  		WHERE YUHAN_MESSAGE_NUMBER > 0
  		ORDER BY YUHAN_MESSAGE_NUMBER DESC, YUHAN_MESSAGE_SEND_DATE DESC
  		LIMIT #{pageStart},#{perPageNum}
  	]]>
  	</select>
	
	<select id="totalMessageCount" resultType = "int">
  		SELECT COUNT(*)
		FROM yuhan_message_table
		WHERE YUHAN_MESSAGE_TO_MEMBER_NUMBER = #{memberID}
  	</select>
  	
  	<update id="updateDeleteMessageStatus">
		UPDATE yuhan_message_table
		SET YUHAN_MESSAGE_STATUS = 'C'
		WHERE YUHAN_MESSAGE_NUMBER = #{YUHAN_MESSAGE_NUMBER}
	</update>
	
	<select id="selectID" resultType="String">
		select memberID from yuhanmember where memberHak = #{memberHak}
		union all
		select proID from yuhan_professor where proNo = #{memberHak}
	</select>
	
	<update id="saveMessage">
		UPDATE yuhan_message_table
		SET YUHAN_MESSAGE_STATUS = 'S'
		WHERE YUHAN_MESSAGE_NUMBER = #{YUHAN_MESSAGE_NUMBER}
	</update>
	
	<select id ="listSearch" resultType = "kr.yuhan.domain.YuhanMessageVO">
  	<![CDATA[
  		select * 
  		from yuhan_message_table
  		where YUHAN_MESSAGE_NUMBER > 0
  	]]>
  	<include refid="search"></include>
  	<![CDATA[
  		order by YUHAN_MESSAGE_NUMBER DESC
  		limit #{pageStart},#{perPageNum}
  	]]>
  	</select>
	
	<select id="listSearchCount" resultType = "int">
	  	 <![CDATA[
	  		select count(*)
	  		from yuhan_message_table
	  		where YUHAN_MESSAGE_NUMBER > 0
	  		AND YUHAN_MESSAGE_TO_MEMBER_NUMBER = #{memberID}
	  	]]>
	  	<include refid="search"></include>
  	</select>
  	
  	<sql id= "search">
	  	<if test="searchType != null">
	  		<if test="searchType == 'all'.toString()">
	  			AND YUHAN_MESSAGE_TO_MEMBER_NUMBER LIKE CONCAT('%',#{keyword},'%')
	  			OR YUHAN_MESSAGE_SUBJECT LIKE CONCAT('%',#{keyword},'%')
	  		</if>
	  		<if test="searchType == 'id'.toString()">
	  			AND YUHAN_MESSAGE_TO_MEMBER_NUMBER LIKE CONCAT('%',#{keyword},'%')
	  		</if>
	  		<if test="searchType == 'subject'.toString()">
	  			AND YUHAN_MESSAGE_SUBJECT LIKE CONCAT('%',#{keyword},'%')
	  		</if>
	  	</if>
  	</sql>
</mapper>